<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SNS</title>
	<script type='text/javascript' src='{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}'></script>
	<script type='text/javascript' src='{{ url_for('static', filename='js/jquery.js') }}'></script>
	<script type='text/javascript' src='{{ url_for('static', filename='js/bootstrap.min.js') }}'></script>
	<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='css/style.css') }}' />
	<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='css/bootstrap.min.css') }}' />
	<!-- fonts -->
	<link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
		<div class='page row col-sm-offset-1 col-sm-10'>
			<div class='subject'>
				<img src="{{ url_for('static', filename='res/img/sub.png') }}" />
			</div>
			<div id='loginout'>
				{% if not session.logged_in %}
				<p class="text-right">
					<a href="{{ url_for('login') }}">Log in </a>
					<a href="{{ url_for('signup') }}">Sign up </a>
				</p>
				{% else %}
				<p class="text-right">
					<a href="{{ url_for('wall') }}">My wall </a>
					<a href="{{ url_for('write') }}">Write </a>
					<a href="{{ url_for('logout') }}">Log out</a>
				</p>
				{% endif %}
			</div>
			<div class="contents">
				{% block body %}{% endblock %}
			</div>
		</div>
</body>
</html>