{% extends "layout.html" %}
{% block body %}


<div class='subject'>
	<h1 class="col-sm-offset-1">: Modify</h1>
</div>

<div class="col-sm-offset-1 col-sm-10">
	<form action="{{ url_for('modify_post', post_id=post.id) }}" method='post'>
		<textarea class="form-control" name="body" rows="5">{{ post.body }}</textarea>
		<div class="checkbox text-right">
			<label>
				<input type="checkbox" name="secret" />
				Secret
			</label>
		</div>
		<button type='submit' class='btn btn-success'>Modify</button>
	</form>
</div>


{% endblock %}