{% extends "layout.html" %}
{% block body %}

<div class="contents col-sm-offset-1 col-sm-10">
	<div class="read">
		<p>Written by {{ session.written }}</p>
		<p>Before 5 hours</p>

		<hr>

		<p>Hi.</p>
		<p>I don't have anything to say to u.</p>
		<p>Ahhhhhhhhhhhhhhhhhhhhhh</p>
		<p>Bye bye</p>
		<p>Seeeeeeeeee U</p>
		<p>ps. I want to relax T_T</p>
		<p>More?more?more?more?...hehehehe</p>

		<hr>

		<p class="text-right"><span id="img" class="glyphicon glyphicon-pencil"></span><span class="badge">2</span></p>

		<dl>
			<dt>Kyoyoung</dt>
			<dd>WoW</dd>
			<dt>Jeahyun</dt>
			<dd>I'm finished! *.*</dd>
		</dl>
	</div>
</div>

{% endblock %}