{% extends "layout.html" %}
{% block body %}

<div class="contents col-sm-offset-1 col-sm-10">
	<div class="post">

		<div class="user">
			<p><span class="glyphicon glyphicon-user"></span> {{ post.user.username }}</p>
		</div>

		<div class="time text-right">
			{{ post.created_time }}
		</div>
		
		<hr>
<!-- 		<div class="text-right">
			<button type="button" class="btn btn-default btn-xs" href="{{ url_for('delete_post', post_id=post_id) }}" id="delete" method="POST">Delete</button>
		</div> -->
		{{ post.body }}

		<hr>

		<div class="comment">


			{% for i in comments %}
			<div class="form-group">
				{{ i.user.username }}
				{{ i.body }}
				<a href="{{ url_for('delete_comment', comment_id=i.id)}}" id="delete"><span class="glyphicon glyphicon-remove"></span></a>
			</div>
			{% endfor %}

			<form action="{{ url_for('read', wall_id = session['wall_id'], id=session['post_id']) }}" method='post' role="form" class="form-horizontal">

				<div class="form-group">

					<input type="text" name="comment" class="form-control" />
					<button type="submit" class="btn btn-success">Submit</button>

				</div>
			</form>

		</div>

	</div>



</div>

{% endblock %}