{% extends "layout.html" %}
{% block body %}

<div class='subject'>
	<h1 class="col-sm-offset-1">: Sign up</h1>
</div>

<form action="{{ url_for('signup') }}" method='post' class="form-horizontal" role="form">

	{% if form %}
	<div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">

		{{ form.hidden_tag() }}

		{% if form.errors %}
		<div class="alert alert-danger fade in">
			<a href="#" class="close" data-dismiss="alert">&times;</a>
			{% for field, errors in form.errors.items() %}
			<ul>
				{% for error in errors %}
				<li>
					{{ error }}
				</li>
				{% endfor %}
			</ul>
			{% endfor %}
		</div>
		{% endif %}

		{% if signup_error %}
		<div class="alert alert-danger fade in">
			<a href="#" class="close" data-dismiss="alert">&times;</a>
			{{ signup_error }}
		</div>
		{% endif %}



		{% for field in form if field.widget.input_type != "hidden" %}
		<div class="form-group{% if field.errors %} has error {% endif %}">
			<label for="{{ field.id }}"> {{ field.label }} </label>
			{{ field(class="form-control", placeholder=field.description.placeholder) }}

			{% if field.errors %}
			<div class = "help-block">
				<ul>
					{% for error in field.errors %}
					<li>
						{{ error }}
					</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
		</div>
		{% endfor %}


	</div>




	{% endif %}

<!-- 	<div class="form-group">
		<label for="name" class="col-sm-2 control-label">Name</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="name" name="name" />
		</div>
	</div>

	<div class="form-group">
		<label for="email" class="col-sm-2 control-label">Email</label>
		<div class="col-sm-4">
			<input type="email" class="form-control" id="email" name="email" />
		</div>
	</div>

	<div class="form-group">
		<label for="password" class="col-sm-2 control-label">Password</label>
		<div class="col-sm-4">
			<input type="password" class="form-control" id="password" name="password" />
		</div>
	</div>

	<div class="form-group">
		<label for="password_check" class="col-sm-2 control-label">Check Password</label>
		<div class="col-sm-4">
			<input type="password" class="form-control" id="password_check" name="password_check" />
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Gender</label>
		<div class="col-sm-4">
			<div class="radio col-sm-6">
				<label>
					<input type="radio" name="gender" value="M" checked />
					Male
				</label>
			</div>
			<div class="radio col-sm-6">
				<label>
					<input type="radio" name="gender" value="F" />
					Female
				</label>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Birthday</label>
		<div class="col-sm-4">
			<input type="date" class="form-control" id="birthday" name="birthday" />
		</div>
	</div>

	<div class="form-group">
		<label for="mobile" class="col-sm-2 control-label">Mobile</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="mobile" name="mobile" />
		</div>
	</div> -->

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-4">
			<button type='submit' class='btn btn-success'>Submit</button>
		</div>
	</div>

</form>

{% endblock %}