{% extends "layout.html" %}
{% block body %}

<div class='subject'>
	<h1 class="col-sm-offset-1">: Welcome, {{ wall_owner.username }}'s Wall</h1>
</div>

<div id="fonts" class="text-right col-sm-offset-1 col-sm-10 col-sm-offset-1">
	<a href="{{ url_for('write') }}">Write </a>
</div>

<div class="contents col-sm-offset-1 col-sm-10">

	{% for i in posts %}

	<div class="post">

		<div class="user">
			<p><span class="glyphicon glyphicon-user"></span> {{ i.user.username }}</p>
		</div>

		<div class="time text-right">
			{{ i.created_time }}
		</div>
		
		<hr>
		
		<div class="text-right">
			<a href="{{ url_for('delete_post', post_id=i.id) }}">delete</a>
			<a href="{{ url_for('modify_post', post_id=i.id)}}">Modify</a>
		</div>

		{% if message %}
		<div id="message">
			{{ message }}
		</div>
		{% endif %}
		
			<a href="{{ url_for('read', wall_id = session['wall_id'], id = i.id) }}">{{ i.body }}</a>
		<hr>
		
	</div>

	{% endfor %}
	
</div>
{% endblock %}