{% extends "layout.html" %}
{% block body %}

<div class='subject'>
	<h1 class="col-sm-offset-1">: Welcome, {{ session.name }}'s Wall</h1>
</div>

<div id="fonts" class="text-right col-sm-offset-1 col-sm-10 col-sm-offset-1">
	<a href="{{ url_for('write') }}">Write </a>
</div>

<div class="contents col-sm-offset-1 col-sm-10">
	<div class="post">

		<div class="user">
			<p><span class="glyphicon glyphicon-user"></span> {{ session.written }}</p>
		</div>
	
		<p>Before 5 hours</p>

		<hr>

		<p>Hi.</p>
		<p>I don't have anything to say to u.</p>
		<p>Ahhhhhhhhhhhhhhhhhhhhhh</p>
		<p>Bye bye</p>
		<p>Seeeeeeeeee U</p>
		<p>ps. I want to relax T_T</p>
		<p><a href="{{ url_for('read')}}">...More</a></p>

		<hr>

		<p class="text-right"><span class="badge">2</span></p>
	</div>
</div>
{% endblock %}