{% extends "layout.html" %}
{% block body %}

<div class='subject'>
	<h1 class="col-sm-offset-1">: Write</h1>
</div>

{% if session.logged_in %}


<div class="col-sm-offset-1 col-sm-10">
	<form action="{{ url_for('write') }}" method='post'>
		<textarea class="form-control" rows="5"></textarea>
		<div class="checkbox text-right">
			<label>
				<input type="checkbox" id="secret">
				Secret
			</label>
		</div>
		<button type='submit' class='btn btn-success'>Write</button>
	</form>
</div>

{% else %}

<p class="col-sm-offset-1 col-sm-10">You can write on the wall when logging in</p>

{% endif %}

{% endblock %}