body {
	background-color: black;
}

a {
	text-decoration: none;
}

body > div .page {
	background-color: #EEFFEB;
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 3%;
	border-radius: 20px; 
}

.subject {
	margin-bottom: 20px;
	font-family: Ropa Sans, Serif;
}

#fonts > a {
	font-family: Ropa Sans, Serif;
	font-size: 24px;
}

.contents {
	margin-top: 30px;
	margin-bottom: 30px;
}

.read {
	border-radius: 5px;
	background-color: white;
	height:auto;
	padding: 3%;
}

span#img {
	font-size: 30px;
}


* {
	font-family: Verdana;
	font-size: 12px;
}


.radio {
	display: ;
}